{% extends "layouts/index.html" %}
{% block content %}

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">All News</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <a>Welcome, {{ user.username}}</a>
          <a class="nav-link" href="{% url 'register' %}">Logout</a>
         
        </div>
      </nav>
      <script>
        
    </script>
<body>
    <p class="data" >
        <h1> Latest news</h1>
        {% for article in ar %} 
    <li style="display: flex; background-color: rgb(177, 207, 207); height: 50px; color: black;">{{ article.title }}</li>  <button  class="btn btn-success">{{ article.category }}</button>
    <button  class="btn btn-danger">Suscribe</button>
{% endfor %} 
</ul> 
    </p>
</body>




{% endblock content %}